<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
        <ion-list *ngIf="!authState">
          <ion-item>
              <ion-label>Email</ion-label>
              <ion-input [(ngModel)]="email" type="email" name="email"></ion-input>
          </ion-item>
            <ion-item>
              <ion-label>Passw</ion-label>
              <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
            </ion-item>
            
          
        </ion-list>
        <button ion-button block (click)="login()" *ngIf="!authState">LOGIN</button>
        <ion-card *ngIf="authState">
          <ion-card-content>
            Bienvenido {{userDataBase.name}} {{userDataBase.surname}}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
